// Hamel - Use this file as a starting point for Github issue #6
// Feel free to create other files, this is just to help us on organization this time
// This file is already imported into the main index.php file via the main.scss file
//
// See https://github.com/gsu-web-programming-class/wheel-of-fortune/issues/6

input[type=text]#user_guess {
    width    : 100vw;
    height   : 100vh;
    display  : block;
    position : fixed;
    top      : 0;
    opacity  : 0;
}
