$wheel-rotation-anim-name : "wheel-rotation";

#wheel-wrapper {
  position        : absolute;
  height          : 100vh;
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  align-items     : center;
  user-select     : none;

  > p {
    font-size     : 3em;
    font-weight   : bolder;
    margin-bottom : -30px;
  }

  #wheel {
    display         : flex;
    justify-content : center;
    align-items     : center;
    transition      : transform 2s ease;

    #down-arrow {
      position : static;
    }

    animation   : {
      duration  : 4500ms;
      //delay     : 100ms;
      fill-mode : forwards;
    }

    img {
      position : absolute;
    }

    > ul {
      position      : relative;
      padding       : 0;
      width         : 32em; height : 32em;
      border-radius : 50%;
      list-style    : none;
      transform     : rotate(0deg);

      > li {
        overflow         : hidden;
        position         : absolute;
        top              : 0; right : 0;
        width            : 50%; height : 50%;
        transform-origin : 0 100%;

        .slice-contents {
          position      : absolute;
          left          : -100%;
          width         : 200%; height : 200%;
          border-radius : 50%;
          text-align    : center;
          transition    : background-color .5s;

          > span {
            color       : black;
            font-weight : bolder;
            width       : 10px;
            word-wrap   : break-word;
            display     : inline-block;
            padding     : 20px;
            font-size   : 25px;
            line-height : 25px;
            @include drop-shadow(1px, 1px, 1px, white);
          }
        }

        $colors : ("red", "yellow", "green", "blue", "orange", "pink");
        $numberOfSectionsInWheel : 24;
        @for $i from 0 through $numberOfSectionsInWheel {
          //$iz: #{$i - 1};
          &:nth-of-type(#{$i+1}) {
            $sectionCentralAngle : 360/$numberOfSectionsInWheel;
            $rotation : $i*$sectionCentralAngle;
            $skewness : 90-$sectionCentralAngle;
            transform : rotate(#{$rotation}deg) skewY(#{-$skewness}deg);

            .slice-contents {
              background : unquote(nth($colors, ($i+1) % length($colors)+1));
              transform  : skewY(#{$skewness}deg) rotate(#{$sectionCentralAngle/2}deg);
            }

            @include keyframes($wheel-rotation-anim-name+"-"+($i)) {
              100% {
                transform : rotate(-#{1800+($rotation)+($sectionCentralAngle*0.5)}deg);
              }
            }
          }
        }
      }
    }
  }
}