@import "includes/variables";
@import "compass/css3/animation";
@import "includes/mixins";
@import "wheel";
@import "ui";

html {
  height   : 100vh;
  overflow : hidden;

  #main_game_form {
    display         : flex;
    justify-content : space-around;
  }
}